# Building a Reccomendation System for an ecommerce site

In [2]:
import pandas as pd

# Loading our data
# specify encoding to deal with different formats
df = pd.read_csv('/content/ecommerce_data.csv', encoding = 'ISO-8859-1')

In [3]:
# View a summary of our data
print ("Rows     : " , df.shape[0])
print ("Columns  : " , df.shape[1])
print ("\nFeatures : \n" , df.columns.tolist())
print ("\nMissing values :  ", df.isnull().sum().values.sum())
print ("\nUnique values :  \n", df.nunique())

Rows     :  541909
Columns  :  8

Features :
 ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

Missing values :   136534

Unique values :
 InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

In [4]:
# Statistics on our numeric columns
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

Note the negative values in Unit price and quantity, it could have likely been an error or perhaps a return. It's not overly critical for our application that we clean it up, for low let's assume we can remove anything negative.

In [5]:
# Removing cancelled orders (shown as negative values in Quantity)
df = df.loc[df['Quantity'] > 0]
df = df.loc[df['UnitPrice'] > 0]

In [6]:
# Check for null values
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     132220
Country             0
dtype: int64

In [7]:
# Lets see how these records with missing customer ID look
df.loc[df['CustomerID'].isna()].head()

     InvoiceNo StockCode  ... CustomerID         Country
1443    536544     21773  ...        NaN  United Kingdom
1444    536544     21774  ...        NaN  United Kingdom
1445    536544     21786  ...        NaN  United Kingdom
1446    536544     21787  ...        NaN  United Kingdom
1447    536544     21790  ...        NaN  United Kingdom

[5 rows x 8 columns]

In [8]:
# Number of records and shape before dropping our missing values
df.shape

(530104, 8)

In [9]:
# Let's drop these records since we can't build our required matrixes 
df = df.dropna(subset=['CustomerID'])

In [10]:
# Number of records after dropping our missing values
df.shape

(397884, 8)

In [11]:
# Check for null values
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

# Building a customer-item matrix

Something like this:

<div>
<img src="https://images.slideplayer.com/18/6109706/slides/slide_9.jpg" width="500"/>
</div>

In [12]:
# We need a create a matrix that contains the customer IDs as the index, and each invidividual item as a column
# We use the pivot function to use the CustomerID as the index and use the StockCode as columns
# Then we using the Quantity value as the values we display, and finally use the aggfunc to sum up these values

customer_item_matrix = df.pivot_table(index='CustomerID', columns='StockCode', values='Quantity',aggfunc='sum')
customer_item_matrix.head()

StockCode   10002  10080  10120  10123C  10124A  ...  C2  DOT   M  PADS  POST
CustomerID                                       ...
12346.0       NaN    NaN    NaN     NaN     NaN  ... NaN  NaN NaN   NaN   NaN
12347.0       NaN    NaN    NaN     NaN     NaN  ... NaN  NaN NaN   NaN   NaN
12348.0       NaN    NaN    NaN     NaN     NaN  ... NaN  NaN NaN   NaN   9.0
12349.0       NaN    NaN    NaN     NaN     NaN  ... NaN  NaN NaN   NaN   1.0
12350.0       NaN    NaN    NaN     NaN     NaN  ... NaN  NaN NaN   NaN   1.0

[5 rows x 3665 columns]

In [13]:
# We have quanties, but we don't actually need the exact numbers
# Let's now change all the NaNs to 0 and all values above 1 to 1

customer_item_matrix = customer_item_matrix.applymap(lambda x: 1 if x > 0 else 0)
customer_item_matrix.head()

StockCode   10002  10080  10120  10123C  10124A  ...  C2  DOT  M  PADS  POST
CustomerID                                       ...
12346.0         0      0      0       0       0  ...   0    0  0     0     0
12347.0         0      0      0       0       0  ...   0    0  0     0     0
12348.0         0      0      0       0       0  ...   0    0  0     0     1
12349.0         0      0      0       0       0  ...   0    0  0     0     1
12350.0         0      0      0       0       0  ...   0    0  0     0     1

[5 rows x 3665 columns]

In [14]:
customer_item_matrix.shape

(4338, 3665)

# Creating out Colaborative Filter

<div>
<img src="https://assets.datacamp.com/production/repositories/4375/datasets/c71ee9689f2a54b5273988240e8f198c8ff71f32/cosine_sim.png" width="400"/>
</div>

In [15]:
# import our cosine_similarity function from sklearn
from sklearn.metrics.pairwise import cosine_similarity

### Creating out User-to-User Similarity Matrix

In [16]:
# Let's use the sklearn cosine_similarity function to compute the pairwise cosine similarities between the cusomters 

user_user_sim_matrix = pd.DataFrame(cosine_similarity(customer_item_matrix))
user_user_sim_matrix

      0         1         2     ...      4335      4336      4337
0      1.0  0.000000  0.000000  ...  0.000000  0.000000  0.000000
1      0.0  1.000000  0.063022  ...  0.113776  0.109364  0.012828
2      0.0  0.063022  1.000000  ...  0.000000  0.170905  0.083269
3      0.0  0.046130  0.024953  ...  0.067574  0.137124  0.030475
4      0.0  0.047795  0.051709  ...  0.000000  0.044866  0.000000
...    ...       ...       ...  ...       ...       ...       ...
4333   0.0  0.062318  0.000000  ...  0.000000  0.000000  0.000000
4334   0.0  0.000000  0.000000  ...  0.000000  0.046613  0.000000
4335   0.0  0.113776  0.000000  ...  1.000000  0.017800  0.000000
4336   0.0  0.109364  0.170905  ...  0.017800  1.000000  0.096334
4337   0.0  0.012828  0.083269  ...  0.000000  0.096334  1.000000

[4338 rows x 4338 columns]

Notice how our column names and indexes have changed

In [17]:
# Also let's check out the shape, it should be a square matrix (i.e. same width and length)
user_user_sim_matrix.shape

(4338, 4338)

In [19]:
# Let's now re-label the columns so that it's easier to understand
# Now let's change the index from 0 to 4339 to the Customer IDs 

user_user_sim_matrix.columns = customer_item_matrix.index

user_user_sim_matrix['CustomerID'] = customer_item_matrix.index

user_user_sim_matrix = user_user_sim_matrix.set_index('CustomerID')
user_user_sim_matrix.head()

CustomerID  12346.0   12347.0   12348.0  ...   18282.0   18283.0   18287.0
CustomerID                               ...
12346.0         1.0  0.000000  0.000000  ...  0.000000  0.000000  0.000000
12347.0         0.0  1.000000  0.063022  ...  0.113776  0.109364  0.012828
12348.0         0.0  0.063022  1.000000  ...  0.000000  0.170905  0.083269
12349.0         0.0  0.046130  0.024953  ...  0.067574  0.137124  0.030475
12350.0         0.0  0.047795  0.051709  ...  0.000000  0.044866  0.000000

[5 rows x 4338 columns]

# Let's find the customers most similar to our test customer, '12358'

In [20]:
# Sort on the customers most similar to 12358
user_user_sim_matrix.loc[12358].sort_values(ascending=False)

CustomerID
12358.0    1.000000
14145.0    0.452911
14155.0    0.452911
18240.0    0.452911
13551.0    0.416025
             ...
16099.0    0.000000
16098.0    0.000000
16097.0    0.000000
16096.0    0.000000
12346.0    0.000000
Name: 12358.0, Length: 4338, dtype: float64

### What items did 12358 buy?

In [21]:
# We use the `nonzero` function in the pandas package as it returns the integer indexes of the elements of the non-zero columns (hence the items bought).
# We convert to set data type so that we can perform comparison operations easily afterward.
# See what items were purchased by our customer '12358.0'
items_bought_by_12358 = set(customer_item_matrix.loc[12358].iloc[customer_item_matrix.loc[12358].to_numpy().nonzero()].index)
items_bought_by_12358

{'15056BL',
 '15056N',
 '15056P',
 '15060B',
 '20679',
 '21232',
 '22059',
 '22063',
 '22646',
 '37447',
 '37449',
 '48185',
 'POST'}

In [22]:
# Let's see what customer 14145.0 bought
items_bought_by_14145 = set(customer_item_matrix.loc[14145.0].iloc[customer_item_matrix.loc[14145.0].to_numpy().nonzero()].index)
items_bought_by_14145

{'15056BL', '15056N', '15056P', '20679', '85014A', '85014B'}

In [23]:
# What items did 12358 buy, but 14145 didn't buy?
# Those would be good items to recommend to 14145 since they're so similar
items_to_recommend_to_14145 = items_bought_by_12358 - items_bought_by_14145
items_to_recommend_to_14145

{'15060B',
 '21232',
 '22059',
 '22063',
 '22646',
 '37447',
 '37449',
 '48185',
 'POST'}

In [24]:
# Let's get the descriptions of these items 
df.loc[df['StockCode'].isin(items_to_recommend_to_14145), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')

                                   Description
StockCode
POST                                   POSTAGE
22646       CERAMIC STRAWBERRY CAKE MONEY BANK
48185                       DOORMAT FAIRY CAKE
21232           STRAWBERRY CERAMIC TRINKET BOX
22059            CERAMIC STRAWBERRY DESIGN MUG
37449       CERAMIC CAKE STAND + HANGING CAKES
15060B              FAIRY CAKE DESIGN UMBRELLA
37447        CERAMIC CAKE DESIGN SPOTTED PLATE
22063      CERAMIC BOWL WITH STRAWBERRY DESIGN
21232           STRAWBERRY CERAMIC TRINKET POT

# Finding Items to Recommend to a Customer

In [25]:
most_similar_user = user_user_sim_matrix.loc[12358].sort_values(ascending=False).reset_index().iloc[1, 0]
most_similar_user

14145.0

In [26]:
def get_items_to_recommend_cust(cust_a):
  '''returns the items to recommend to a customer using customer similarity'''
  most_similar_user = user_user_sim_matrix.loc[cust_a].sort_values(ascending=False).reset_index().iloc[1, 0]
  items_bought_by_cust_a = set(customer_item_matrix.loc[cust_a].iloc[customer_item_matrix.loc[cust_a].to_numpy().nonzero()].index)
  items_bought_by_cust_b = set(customer_item_matrix.loc[most_similar_user].iloc[customer_item_matrix.loc[most_similar_user].to_numpy().nonzero()].index)
  items_to_recommend_to_a = items_bought_by_cust_b - items_bought_by_cust_a
  items_description = df.loc[df['StockCode'].isin(items_to_recommend_to_a), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')
  return items_description

In [27]:
get_items_to_recommend_cust(12358.0)

                            Description
StockCode
85014B           RED RETROSPOT UMBRELLA
85014A     BLACK/BLUE POLKADOT UMBRELLA

In [28]:
get_items_to_recommend_cust(12348.0)

                               Description
StockCode
21212      PACK OF 72 RETROSPOT CAKE CASES
21975       PACK OF 60 DINOSAUR CAKE CASES

# Item Based Collaborative Filtering

In [29]:
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [30]:
# Transposing our customer_item_matrix 
item_item_sim_matrix = pd.DataFrame(cosine_similarity(customer_item_matrix.T))
item_item_sim_matrix.head()

       0     1         2         3     ...  3661      3662  3663      3664
0  1.000000   0.0  0.094868  0.091287  ...   0.0  0.067591   0.0  0.078217
1  0.000000   1.0  0.000000  0.000000  ...   0.0  0.016345   0.0  0.000000
2  0.094868   0.0  1.000000  0.115470  ...   0.0  0.071247   0.0  0.010993
3  0.091287   0.0  0.115470  1.000000  ...   0.0  0.000000   0.0  0.000000
4  0.000000   0.0  0.000000  0.000000  ...   0.0  0.000000   0.0  0.000000

[5 rows x 3665 columns]

In [31]:
item_item_sim_matrix.shape

(3665, 3665)

In [32]:
# Let's now re-label the columns so that it's easier to understand
# Now let's change the index from 0 to 3665  to the StockCode 

item_item_sim_matrix.columns = customer_item_matrix.T.index

item_item_sim_matrix['StockCode'] = customer_item_matrix.T.index
item_item_sim_matrix = item_item_sim_matrix.set_index('StockCode')
item_item_sim_matrix.head()

StockCode     10002  10080     10120    10123C  ...  DOT         M  PADS      POST
StockCode                                       ...
10002      1.000000    0.0  0.094868  0.091287  ...  0.0  0.067591   0.0  0.078217
10080      0.000000    1.0  0.000000  0.000000  ...  0.0  0.016345   0.0  0.000000
10120      0.094868    0.0  1.000000  0.115470  ...  0.0  0.071247   0.0  0.010993
10123C     0.091287    0.0  0.115470  1.000000  ...  0.0  0.000000   0.0  0.000000
10124A     0.000000    0.0  0.000000  0.000000  ...  0.0  0.000000   0.0  0.000000

[5 rows x 3665 columns]

In [33]:
# Most similar items to 10080

item_item_sim_matrix.loc['10080'].sort_values(ascending=False)

StockCode
10080     1.000000
23694     0.191346
22039     0.187317
47504H    0.166924
21650     0.165567
            ...
35909B    0.000000
35909A    0.000000
35833P    0.000000
35819P    0.000000
10002     0.000000
Name: 10080, Length: 3665, dtype: float64

In [34]:
# Get the top 10 most similar items 
top_10_similar_items = list(item_item_sim_matrix.loc['10080'].sort_values(ascending=False).iloc[:10].index)
top_10_similar_items

['10080',
 '23694',
 '22039',
 '47504H',
 '21650',
 '90214F',
 '79157B',
 '90206A',
 '84012',
 '22043']

In [35]:
# Now let's make a function that returns the most similar items for an inputted item
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [36]:
# Get the row information fo a specific item
# Note it occurs multple times, but we need juw the basic info
df.loc[df['StockCode'] == '90210A']

      InvoiceNo StockCode  ... CustomerID         Country
28848    538661    90210A  ...    15194.0  United Kingdom
28887    538662    90210A  ...    15159.0  United Kingdom
56707    541110    90210A  ...    15916.0  United Kingdom

[3 rows x 8 columns]

In [37]:
df.loc[df['StockCode'] == '90210A'][:1]

      InvoiceNo StockCode  ... CustomerID         Country
28848    538661    90210A  ...    15194.0  United Kingdom

[1 rows x 8 columns]

In [38]:
# This code checks our df for stock codes similar to those in our top_10_similar_items, we then display only the Stockcode and Description, remove duplicates
# and ten set the index to StockCode
df.loc[df['StockCode'].isin(top_10_similar_items), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode').loc[top_10_similar_items]

                                   Description
StockCode
10080                 GROOVY CACTUS INFLATABLE
23694                        PAISLEY PARK CARD
22039                 BOTANICAL LILY GIFT WRAP
47504H              ENGLISH ROSE SPIRIT LEVEL
21650           ASSORTED TUTTI FRUTTI BRACELET
90214F               LETTER "F" BLING KEY RING
79157B                 UBO-LIGHT TRIOBASE BLUE
90206A               GOLD DIAMANTE STAR BROOCH
84012      MAGIC SHEEP WOOL GROWING FROM PAPER
22043             CHRISTMAS CARD SCREEN PRINT

In [39]:
def get_top_similar_items(item):
  top_10_similar_items = list(item_item_sim_matrix.loc[item].sort_values(ascending=False).iloc[:10].index)
  top_10 = df.loc[df['StockCode'].isin(top_10_similar_items), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode').loc[top_10_similar_items]
  return top_10

In [40]:
get_top_similar_items('84029E')

                                   Description
StockCode
84029E          RED WOOLLY HOTTIE WHITE HEART.
84029G     KNITTED UNION FLAG HOT WATER BOTTLE
21479            WHITE SKULL HOT WATER BOTTLE
21485         RETROSPOT HEART HOT WATER BOTTLE
22111             SCOTTIE DOG HOT WATER BOTTLE
22112               CHOCOLATE HOT WATER BOTTLE
22114        HOT WATER BOTTLE TEA AND SYMPATHY
23355               HOT WATER BOTTLE KEEP CALM
84030E           ENGLISH ROSE HOT WATER BOTTLE
22632                HAND WARMER RED POLKA DOT
22632                HAND WARMER RED RETROSPOT